
html, body {
  font-family: 'Playfair Display';
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

body {
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}


path.country { 
  fill: white; 
  stroke: #888; 
  stroke-width: 0.2; 
}

text {
  font-family: 'Playfair Display';
  font-weight: lighter;
}

.key-text {
  alignment-baseline: middle;
  font-size: 60px;
  fill: black;
}

.ital-key-text {
  alignment-baseline: middle;
  font-size: 60px;
  fill: black;
  font-style: italic;
}


#content {
  text-align: center;
}

header {
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  text-align: left;
  padding-left: 20px;
}

a {
  color: black;
}

#title {
  font-size: 42px;
  text-align: left;
}

#highlight {
  color: #329932;
}


#subtitle {
  font-weight: lighter;
}


svg { 
  border-color: orange;
  margin-left: auto; 
  margin-right: auto; 
  
 
}

.section {
  margin-bottom: 5%;
}


.map-container {
  display: inline-block;
  width: 660px;
  height: 450px;
  margin: 0 0 0 1.5%;
  overflow: hidden;

}

.desc-container {
  text-align: left;
  border-color: purple;
  background-color: #f5eee5;

  width: 240px;
  min-height: 450px;
  padding: 10px 12px;
  display: inline-block;
  vertical-align: top;

}

h2 {
  margin: 2px 0;
}

.desc-text {
  text-align: left;
  z-index: 1;
  font-size: 15px;

  margin: 5px 0;
}

.quote {
  margin-top: 2px;
  font-style: italic;
  font-size: 12px;
  color: #7f7f7f;
}

.source {
  font-size: 10px;
  
}



.key { 
  width: 240px;
  height: 250px;
}


